
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    line-height: 1.75;
    font-family: "Cinzel Decorative", serif;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 50px;
}

#flex-item ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.list {
    position: relative;
}

#flex-item ul li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 1px;
}

#flex-item ul li:hover {
    background-color: #9e000a;
}

#flex-item ul li.active {
     background-color: #9e000a;
}

li > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

li > div:hover {
    background: #9e000a;
}

#menu + span {
    width: 10px;
    border-bottom: 2.5px solid white;
    border-right: 2.5px solid white;
    height: 10px;
    transform: rotate(45deg);
    margin-right:10px;
    position: relative;
    bottom: 2px;
}

.submenu {
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    text-align: left;
}

.submenu.focus {
    display: block;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    height: max-content !important;
    width: max-content !important;
    background-color: black;
}

.submenu > li a {
    text-decoration: none;
    margin-top: 5px;
    font-size: 1.1rem;
}

.subcategory {
    font-size: 16px;
    line-height: 1;
    border: none;
}

.subcategory {
    width: 100%;
    padding: 5px;
}

.subcategory:hover {
    background-color: #9e000a;
}

#flex-item {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#flex-item h1 {
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
}

#flex-item h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: right;
}

a {
    text-decoration: underline;
    color: inherit;
    font-weight: 700;
} 

a[title="Nellie's Place"] {
    letter-spacing: 0.1ch;
}

a span {
    font-size: 1.2rem;
    font-weight: 500;
}

.tab-button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border: none;
    padding: 0 12px;
    height: 100%;
    margin: 1px;
    text-transform: uppercase;
}

.tab-button:hover {
    background: #9e000a;
}

.tab-button.active{
    background: #9e000a;
}

#imageBox {
    background-image: url('https://nelliesplacenj.com/wp-content/uploads/2020/06/bar-fb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageBox h1 {
    transform: rotate(-12deg);
    color: white;
}

#nelliesName {
    font-size: 6rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    color: white;
    letter-spacing: 0.1ch;
}

footer a {
    text-decoration: none;
    font-weight: 400;
}

footer div {
    background-color: #AE9A64;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 20px;
}

footer div div {
    width: 33.33%;
    float: left;
    min-height: 1px;
    margin-top: 30px;
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    #flex-item h1 {
        font-size: 1.5rem;
    }

    #flex-item h2 {
        font-size: 1.25rem;
    }

}

@media (max-width: 480px) {
    #flex-item h1 {
        font-size: 0.75rem;
    }

    #flex-item h2 {
        font-size: 0.5rem;
    }

}


